/*======================== Header navbar ======================== */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4px 1px; */
  padding: 0;
}

.header__navbar-list {
  list-style: none;
  margin: px 0 0 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item:first-child {
  margin-left: -39px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgb(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: " ";
  display: block;
  height: 12px;
  border-left: 1px solid #fb9068;
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

i.fa-regular.fa-circle-question {
  margin-right: 3px;
}
/*======================== Header User ======================== */
.header__navbar-user {
  display: flex;
  align-items: center;
  position: relative;
}

.header__navbar-user-name {
  margin-left: 4px;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(100% + 10px);
  right: -8px;
  background-color: var(--white-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-item {
  margin-top: 0px;
  padding: 3px 2px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 8px 16px;
}

.header__navbar-user-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-menu::before {
  content: " ";
  border-style: solid;
  border-width: 15px 15px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 22px;
  top: -29px;
}

.header__navbar-user-menu::after {
  content: " ";
  display: block;
  width: 62%;
  position: absolute;
  top: -8px;
  right: 0;
  height: 8px;
  /* background-color: #3a5a93; */
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

/*======================== Header QR code ======================== */
.header__QR {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  /*top: 100%:; -> 100% the chua no va 20% margin */
  top: 120%;
  padding: 8px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  /*hiddenQR*/
  display: none;
  animation: fadeIn ease-in 1s;
  -webkit-animation: fadeIn ease-in 1s;
}

/* No hidden QR click QR */
.header__QR::before {
  content: " ";
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  display: block;
  /* background-color: #f53e2d; */
}

.header__QR-img {
  width: 100%;
}

.header__QR-apps {
  display: flex;
  justify-content: space-between;
}

.header__QR-download-img {
  height: 16px;
}

.header__QA-link:first-child {
  margin-left: 11px;
}

.header__QA-link:nth-child(2) {
  margin-right: 11px;
}

.header__navbar-item--has-QR:hover .header__QR {
  display: block;
}

/*======================== Header Notification ======================== */
.header__notify {
  position: absolute;
  top: 120%;
  right: 0;
  width: 404px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  -webkit-animation: headerNotifyGrowth ease-in 0.2s;
  -moz-animation: headerNotifyGrowth ease-in 0.2s;
  -o-animation: headerNotifyGrowth ease-in 0.2s;
  -ms-animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
  will-change: opacity, transform;
  z-index: 1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* Initial border */
.header__notify::before {
  content: " ";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 12px;
  top: -30px;
}

/* Setting border UI/UX */
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  width: 95px;
  height: 20px;
}

@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 48px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item a {
  /* display: flex;
  padding: 12px; */
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  /* background-color: rgba(238,75,43,0.08); */
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 100;
  text-transform: capitalize;
  line-height: 1.8rem;
}

.header__notify-desc {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.4rem;
  text-transform: capitalize;
  margin-top: 4px;
}

.header__notify-footer {
  /* text-align: center; */
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 48px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
}

/*======================== Authentic Modal ======================== */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 40px 10px 0 0;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  margin-top: 44px;
}

.auth-form__form {
  margin-top: 16px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 12px;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.btn--primary {
  margin-left: 10px;
}
.auth-form__controls {
  margin-top: 80px;
}

.auth-form__controls {
  display: flex;
  justify-content: end;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  background-color: #3a5a93;
  color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 11px 20px;
}

.auth-form__socials--google {
  color: #777;
  background-color: var(--white-color);
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}
.auth-form__help-separate {
  display: block;
  border-left: 1px solid #eaeaea;
  margin: 0 16px;
}

.auth-form__help-link-forgot {
  color: var(--primary-color);
}

/*======================== Header logo - search - cart  ======================== */
.header-with-search {
  height: var(--header-width-height);
  display: flex;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}
.header__logo-img {
  width: 120px;
  color: var(--white-color);
  fill: currentColor;
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  text-align: center;
  position: relative;
}

.header__cart-icon {
  /* color: var(--white-color); */
  font-size: 2.5rem;
  color: var(--white-color);
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select {
  border-left: 2px solid #938e8e;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-right: 3px;
  width: 60px;
  outline: none;
}

.header__search-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}
.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 15px;
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #ebe9e9;
  padding-left: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  /* hidden option */
  display: none;
  animation: fadeIn ease-in 0.25s;
  -webkit-animation: fadeIn ease-in 0.25s;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  /* background-color: #3a5a93; */
  position: absolute;
  top: -12px;
  left: 0;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
  /* text-align: right; */
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item:first {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* hover -> Show option */
.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

/*======================== Header Search History  ======================== */

.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 1px 5px #999;
  display: none;
}

/* focus input -> Show history */
.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 6px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

.header__search-history-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*======================== Header Cart and  No Cart ======================== */

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-list::after {
  content: " ";
  display: block;
  position: absolute;
  right: 1px;
  top: -19px;
  cursor: pointer;
  border-width: 10px 14px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 11px);
  right: 10px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
  -webkit-animation: fadeIn ease-in 0.2s;
  cursor: default;
}

.header__cart-no-cart-img {
  width: 54%;
  /* no cart -> hidden */
  display: none;
}

.header__cart-list--no-cart {
  padding: 50px 0;
}

.header__cart-list-no-cart-msg {
  /* display: block; */
  /* no cart -> hidden*/
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

/* no cart -> show */
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-notice {
  position: absolute;
  top: -16px;
  right: 1px;
  padding: 3px 5px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #ee4d2d;
}

/*======================== Header Has Cart Item ======================== */
.header__cart-heading {
  text-align: left;
  margin: 12px 0 11px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-price-wrap {
  margin-right: -12px;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12px;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 12px;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
  font-weight: 400;
}

.header__cart-item-multiply {
  color: #757575;
  font-size: 0.9rem;
  margin: 0 4px;
}

.header__cart-item-quantiti {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-desc {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  margin: 0 12px 12px 0;
  float: right;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header__cart-view-cart:hover {
  opacity: 0.8;
}

/*========================  ======================== */
.app__container {
  background-color: #f5f5f5;
}

.category {
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.category-heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  /* padding-top: 0; */
  position: relative;
  top: -1px;
}

.category-heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  /* display: flex;
  align-items: center; */
  border-bottom: 1px solid #e8e8e8;
}

.category-list {
  list-style: none;
  padding: 0 0 8px 0;
  margin-left: 10px;
}

.category-item {
}

.category-item--active .category-item-link {
  color: var(--primary-color);
}

.category-item--active .category-item-link::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.category-item-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  display: block;
  padding: 8px 16px;
  position: relative;
  transition: right linear 0.1s;
  right: 0;
  -webkit-transition: right linear 0.1s;
  -moz-transition: right linear 0.1s;
  -ms-transition: right linear 0.1s;
  -o-transition: right linear 0.1s;
}

.category-item-link:hover {
  right: -4px;
  color: var(--primary-color);
}
